body {
  font-family: 'Roboto', sans-serif;
}

.menu {
    display: flex;
  }

.hero {
  display: flex;
  margin-top: 100px;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
  margin-bottom: 0px;
}

.hero p {
  margin-top: 0px;
}
  
.links {
  font-size: 18px;
  color: #e5e7eb;
}

.links a {
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero div {
  padding-right: 30px;
}

.header {
    flex: 1; 
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #1f2937;
  }

.menu div:nth-child(1){
  flex-grow: 3;
}

.hero div {
  flex-basis: 100%;
}

.image-placeholder {
  text-align: center;
  background-color: grey;
}

.button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 10px;
  font-size: 18px;
  border-color: #3882f6;
  padding-left: 30px;
  padding-right: 30px;
}

.section-1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  margin: 0px;
}

.cases {
  display: flex;
}

.container {
  border-color: blue;
  border-style: solid;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}